body {
    background-color:  coral;*/
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
}

p{
    text-align: justify;
    font-size: 2em;

}



.posts article, .footer section:first-child  {
    border: 2px dotted #cccccc;
    
}

.footer form,input:focus{
    background:green;
    border: 2px solid green;
}

.footer form,textarea:focus{
    background:green;
    border: 2px solid green;
}